<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoTest.Exceptions" version="1.0.7.50" targetFramework="net452" />
  <package id="FakeItEasy" version="1.25.3" targetFramework="net452" />
  <package id="FluentAssertions" version="4.5.0" targetFramework="net452" />
  <package id="NUnit" version="3.2.1" targetFramework="net452" />
  <package id="coveralls.net" version="0.6.0" />
  <package id="NUnit.Runners" version="3.2.1" />
  <package id="OpenCover" version="4.6.166" />
</packages>